{
    "parserOptions": {
        "project": [
            "./tsconfig.json"
        ]
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "root": true,
    "env": {
        "node": true
    },
    "rules": {
        "@typescript-eslint/no-var-requires": 0
    }
}